@{
    ViewBag.Title = "AddEditClinic";
}
<h2>@ViewBag.Title.</h2>

<div class="container">

    <form>
       
        <!-- Basic info row -->
        <div class="row">
            <div class="col">
                <label for="clinicName">Clinic Name</label>
                <input type="text" id="clinicName" class="form-control" placeholder="Enter clinic name">
            </div>
            <div class="col">
                <label for="clinicID">Clinic ID</label>
                <input id="clinicID" class="form-control" type="text" placeholder="19" readonly>
            </div>
            <div class="col">
                <label for="clinicPhone">Clinic Phone #</label>
                <input type="text" id="clinicPhone" class="form-control" placeholder="Enter clinic phone number">
            </div>
        </div>
    </form>

</div>
