@{
    ViewBag.Title = "ADD NEW CLINIC";
}
<h2><br>@ViewBag.Title</h2>

<div class="container">

    <form>

        <!-- Basic info row -->
        <div class="row">
            <div class="col">
                <p><br><br><strong>Basic Info</strong><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="clinicID">Clinic ID</label>
                <input id="clinicID" class="form-control" type="text" placeholder="19" readonly>
            </div>
            <div class="col-md-4">
                <label for="clinicName">Clinic Name</label>
                <input type="text" id="clinicName" class="form-control" placeholder="Enter clinic name">
            </div>
            <div class="col-md-4">
                <label for="clinicPhone">Clinic Phone #</label>
                <input type="text" id="clinicPhone" class="form-control" placeholder="Enter clinic phone number">
            </div>
        </div>


        <!-- Location row -->
        <div class="row">
            <div class="col">
                <p><br><br><strong>Location Info</strong><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="townVillage">Town/Village</label>
                <input type="text" id="townVillage" class="form-control" placeholder="Enter town/village">
            </div>
            <div class="col-md-4">
                <label for="state">State</label>
                <input id="state" class="form-control" type="text" placeholder="Enter state">
            </div>
            <div class="col-md-4">
                <label for="country">Country</label>
                <input type="text" id="clinicPhone" class="form-control" placeholder="Nigeria">
            </div>
        </div>

        <!-- Primary contact row -->
        <div class="row">
            <div class="col">
                <p><br><br><strong>Primary Clinic Contact</strong><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="Enter first name">
            </div>
            <div class="col-md-4">
                <label for="lastName">Last Name</label>
                <input id="lastName" class="form-control" type="text" placeholder="Enter last name">
            </div>
            <div class="col-md-4">
                <label for="contactPhone">Phone #</label>
                <input type="text" id="contactPhone" class="form-control" placeholder="Enter phone number">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p><br></p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>


    </form>

</div>
