@{
    ViewBag.Title = "ADD NEW CLINIC";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<p><br></p>

<div class="container">

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item active">
                <a class="page-link" href="~/Home/AddEditClinic" tabindex="-1">Add New Clinic</a> <span class="sr-only">(current)</span>
            </li>
            <li class="page-item">
                <a class="page-link" href="~/Home/EditClinic">Edit Clinic</a>
            </li>
        </ul>
    </nav>

    <form>

        <!-- Basic info row -->
        <div class="row">
            <div class="col">
                <p><br><i class="fas fa-clinic-medical"></i><strong> Clinic Info</strong><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="clinicID">Clinic ID</label>
                <input id="clinicID" class="form-control" type="text" placeholder="19" readonly>
            </div>
            <div class="col-md-4">
                <label for="clinicName">Clinic Name</label>
                <input type="text" id="clinicName" class="form-control" placeholder="Enter clinic name">
            </div>
            <div class="col-md-4">
                <label for="clinicPhone">Clinic Phone #</label>
                <input type="text" id="clinicPhone" class="form-control" placeholder="Enter clinic phone number">
            </div>
        </div>


        <!-- Location row -->
        <div class="row">
            <div class="col">
                <p><br><br><strong>Location Info</strong><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="townVillage">Town/Village</label>
                <input type="text" id="townVillage" class="form-control" placeholder="Enter town/village">
            </div>
            <div class="col-md-4">
                <label for="state">State</label>
                <input id="state" class="form-control" type="text" placeholder="Enter state">
            </div>
            <div class="col-md-4">
                <label for="country">Country</label>
                <input type="text" id="clinicPhone" class="form-control" placeholder="Nigeria">
            </div>
        </div>

        <!-- Primary contact row -->
        <div class="row">
            <div class="col">
                <p><br><br><strong>Primary Clinic Contact</strong><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="Enter first name">
            </div>
            <div class="col-md-4">
                <label for="lastName">Last Name</label>
                <input id="lastName" class="form-control" type="text" placeholder="Enter last name">
            </div>
            <div class="col-md-4">
                <label for="contactPhone">Phone #</label>
                <input type="text" id="contactPhone" class="form-control" placeholder="Enter phone number">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p><br></p>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>


    </form>

</div>
