@{
    ViewBag.Title = "AddEditClinic";
}
<h2>@ViewBag.Title.</h2>

<div class="container">

    <div class="row">
        <div class="col">
            CLINIC DETAILS

        </div>
    </div>

    <div class="row">
        <div class="col">
            Basic Info

        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col">
            Location

        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col">
            Primary Contact

        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

</div>
