
@{
    ViewBag.Title = "ClinicReport";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-10">
            <h3><br /><b><u>BALI CLINIC SUMMARY:</u></b><br /><br /></h3>
        </div>
        <div class="col align-self-center justify-content-end">
            <div class="row">



                <a href="~/Content/Reports/Bali_Report (1).pdf" target="_blank" class="btn btn-info btn-sm" role="button" style="margin-right: 4px">Download Report</a><br>

                <!-- <button type="button" class="btn btn-primary btn-sm" style="margin-right: 4px">Download Report</button> -->
                <a href="~/Home/Dashboard" class="btn btn-outline-danger btn-sm" role="button">X</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <i class="fas fa-map-marker-alt"></i><strong> Location:</strong> Bali, Nigeria<br />
                <i class="fas fa-user"></i><strong> Contact:</strong> Idara Njoku<br />
                <i class="fas fa-phone"></i><strong> Phone:</strong> 818 234 4589<br /><br /><br />
                <b>Num test results:</b> 231<br />
                <b>Avg TSB level (mg/dl):</b> 17<br />
                <b>% results > avg:</b> 23<br />
                <b>Avg age of baby (hours):</b> 35<br /><br /> <br />
            </div>
            <div class="col-4">
                <div>
                    <a href="#resultsClinicModal" data-toggle="modal" data-target="#resultsClinicModal">
                        <img src="~/Content/Img/Bali_result.png" class="mx-auto d-block img-fluid" />
                    </a>
                </div>              
            </div>
            <div class="col-4">
                <div>
                    <a href="#numberClinicModal" data-toggle="modal" data-target="#numberClinicModal">
                        <img src="~/Content/Img/Bali_num.png" class="mx-auto d-block img-fluid" />
                    </a>
                </div>               
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <b><u>All Clinics</u></b><br />
                <b>Avg TSB level (mg/dl):</b> 13<br />
                <b>Avg age of baby (hours):</b> 31<br />
            </div>
            <div class="col-4">
                <div>
                    <a href="#ageClinicModal" data-toggle="modal" data-target="#ageClinicModal">
                        <img src="~/Content/Img/Bali_age.png" class="mx-auto d-block img-fluid" />
                    </a>
                </div>              
            </div>
            <div class="col-4">
                <a href="#riskClinicModal" data-toggle="modal" data-target="#riskClinicModal">
                    <img src="~/Content/Img/Bali_risk.png" class="mx-auto d-block img-fluid" />
                </a>               
            </div>
        </div>
        <div class="row">
            <br /><br /><br /><br /><br />
        </div>
        <div class="row">
            <form class="form-inline">
                <div class="form-group" style="margin-left: 48px">
                    <label for="startDate" style="margin-right: 8px"><strong>From</strong></label>
                    <input type="text" id="startDate" class="form-control" placeholder="3/1/2019">
                    <label for="endDate" style="margin-left: 8px; margin-right: 8px"><strong>To</strong></label>
                    <input id="endDate" class="form-control" type="text" placeholder="@DateTime.Now.ToShortDateString()">
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="resultsClinicModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="~/Content/Img/Bali_result.png" class="mx-auto d-block img-fluid" />
            </div>
            <div class="modal-footer">
                <p align="center" style="font-size:20px">Daily TSB test results for this clinic. Each dot represents a single test result.</p>
            </div>
        </div>
    </div>
</div>

<div id="numberClinicModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="~/Content/Img/Bali_num.png" class="mx-auto d-block img-fluid" />
            </div>
            <div class="modal-footer">
                <p align="center" style="font-size:20px">The number of test results reported weekly for this clinic for the given time period. Each bar represents one week of results.</p>
            </div>
        </div>
    </div>
</div>

<div id="ageClinicModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="~/Content/Img/Bali_age.png" class="mx-auto d-block img-fluid" />
            </div>
            
        </div>
    </div>
</div>

<div id="riskClinicModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="~/Content/Img/Bali_risk.png" class="mx-auto d-block img-fluid" />
            </div>
            <div class="modal-footer">
                <p align="center" style="font-size:20px">Level of risk for kernicterus and other jaundice complications based on baby’s age and TSB level reported, using <a href="http://emr.bilitool.net">http://emr.bilitool.net</a>. Shows percent of results that fall in each risk-level category.</p>
            </div>
        </div>
    </div>
</div>
