
@{
    ViewBag.Title = "ClinicReport";
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h3><br /><b><u>BELI CLINIC SUMMARY:</u></b><br /><br /></h3>
        </div>
        <div class="col align-self-center justify-content-end">
            <button type="button" class="btn btn-primary btn-sm" style="margin-right: 12px">Download Report</button>
        </div>
    </div>
</div>

<img src="~/Content/Img/Beli_Clinic.png" class="mx-auto d-block img-fluid"/>
