@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <p style="margin-left: 16px"><strong>View usage data from 5/1/2019 to @DateTime.Now.ToShortDateString()</strong><br><br></p>
        </div>
        <div class="row">
            <div class="col-8">
                <div>
                    <img src="~/Content/Img/Heatmap.PNG" width="670" height="591" class="mx-auto d-block" usemap="#heatmap" />
                    <a href="~/Home/ClinicReport">
                        <div style="position: absolute; left: 382px; top: 357px; height: 48px; width: 48px; border-radius: 24px;" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></div>
                    </a>
                </div>
            </div>
            <div class="col-3">

                <img src="~/Content/Img/AC_result.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />

                <img src="~/Content/Img/AC_num.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />

                <img src="~/Content/Img/AC_risk.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />

                <img src="~/Content/Img/AC_age.png" class="mx-auto d-block img-fluid" />

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>



