@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <p>View usage data from 5/1/2019 to @DateTime.Now.ToShortDateString()</p>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img src="~/Content/Img/Heatmap.PNG" width="670" height="591" class="mx-auto d-block" usemap="#heatmap" />

                <map id="heatmap" name="heatmap">
                    <area shape="circle" coords="390,382,24" href="~/Home/ClinicReport" alt="Report">
                </map>
            </div>
            <div class="col-3">

                <img src="~/Content/Img/AC_result.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px"/>

                <img src="~/Content/Img/AC_num.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px"/>

                <img src="~/Content/Img/AC_risk.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px"/>

                <img src="~/Content/Img/AC_age.png" class="mx-auto d-block img-fluid" />

            </div>
        </div>
    </div>
</div>




