@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <p>View usage data from 5/1/2019 to @DateTime.Now.ToShortDateString()</p>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img src="~/Content/Img/Heatmap.PNG" class="mx-auto d-block img-fluid" style="padding-bottom:"/>
            </div>
            <div class="col-3">

                <img src="~/Content/Img/AC_result.png" class="mx-auto d-block img-fluid" />

                <img src="~/Content/Img/AC_num.png" class="mx-auto d-block img-fluid" />

                <img src="~/Content/Img/AC_risk.png" class="mx-auto d-block img-fluid" />

                <img src="~/Content/Img/AC_age.png" class="mx-auto d-block img-fluid" />

            </div>
        </div>
    </div>
</div>




