@{
    ViewBag.Title = "Dashboard";
}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">

<div class="starter-template">
    <div class="row">
        <br>
    </div>
    <div class="row justify-content-end">
        <button type="button" class="btn btn-primary btn-sm" style="margin-right: 12px">Download Report</button>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="startDate" style="margin-left: 18px; margin-right: 8px"><strong>From</strong></label>
                        <input type="text" id="startDate" class="form-control" placeholder="3/1/2019">
                        <label for="endDate" style="margin-left: 8px; margin-right: 8px"><strong>To</strong></label>
                        <input id="endDate" class="form-control" type="text" placeholder="@DateTime.Now.ToShortDateString()">
                        <br />
                    </div>
                </form>
            </div>
            <div class="col-4">
                <p style="margin-left: 48px"><strong>SUMMARY RESULTS - ALL CLINICS</strong></p>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-8">
                <div>
                    <img src="~/Content/Img/Heatmap.PNG" width="670" height="591" class="mx-auto d-block" usemap="#heatmap" />
                    <a href="~/Home/ClinicReport">
                        <div style="position: absolute; left: 382px; top: 357px; height: 48px; width: 48px; border-radius: 24px;" data-trigger="hover" data-toggle="popover" data-placement="bottom" title="Bali Clinic" data-content="<b>Locaton:</b> Bali, Nigeria <br /> <b>Phone:</b> 818 234 4589 <br /> <b># Results:</b> 231" data-html="true"></div>
                    </a>
                </div>
            </div>
            <div class="col-4">

                <img src="~/Content/Img/AC_result.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />

                <img src="~/Content/Img/AC_num.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />

                <img src="~/Content/Img/AC_risk.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />

                

            </div>
        </div>
        <div class="row">
            <p style="margin-left: 18px"><strong>ALERT - LOW TEST STRIP INVENTORY</strong></pstyle="margin-left:>
        </div>
        <div class="row">
            <div class="col-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Clinic Name</th>
                            <th scope="col">Test Strip Inventory</th>
                            <th scope="col">Projected Run-Out Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kaduna Community Healthcare</td>
                            <td>110</td>
                            <td>06/09/2019</td>
                        </tr>
                        <tr>
                            <td>St. Mary's Community Hospital</td>
                            <td>350</td>
                            <td>06/17/2019</td>
                        </tr>
                        <tr>
                            <td>Kano Clinic</td>
                            <td>103</td>
                            <td>06/24/2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <img src="~/Content/Img/AC_age.png" class="mx-auto d-block img-fluid" />
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>