@{
    ViewBag.Title = "Dashboard";
}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">

<div class="starter-template">
    <div class="row">
        <br>
    </div>
    <div class="row justify-content-end">

        <a href="~/Content/Reports/All_Clinics_Report.pdf" target="_blank" class="btn btn-primary btn-sm" role="button" style="margin-right: 4px">Download Report</a><br>

    </div>
    <div class="row">
        <br>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="startDate" style="margin-left: 18px; margin-right: 8px"><strong>From</strong></label>
                        <input type="text" id="startDate" class="form-control" placeholder="3/1/2019">
                        <label for="endDate" style="margin-left: 8px; margin-right: 8px"><strong>To</strong></label>
                        <input id="endDate" class="form-control" type="text" placeholder="@DateTime.Now.ToShortDateString()">
                        <br />
                    </div>
                </form>
            </div>
            <div class="col-4">
                <p style="margin-left: 48px"><strong>SUMMARY RESULTS - ALL CLINICS</strong></p>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-8">
                <div>
                    <img src="~/Content/Img/Heatmap.PNG" width="670" height="591" class="mx-auto d-block" usemap="#heatmap" />
                    <a href="~/Home/ClinicReport">
                        <div style="position: absolute; left: 382px; top: 357px; height: 48px; width: 48px; border-radius: 24px;" data-trigger="hover" data-toggle="popover" data-placement="bottom" title="Bali Clinic" data-content="<b>Locaton:</b> Bali, Nigeria <br /> <b>Phone:</b> 818 234 4589 <br /> <b># Results:</b> 231" data-html="true"></div>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <a href="#resultsModal" data-toggle="modal" data-target="#resultsModal">
                        <img src="~/Content/Img/AC_result.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />
                    </a>
                </div>

                <div>
                    <a href="#numberModal" data-toggle="modal" data-target="#numberModal">
                        <img src="~/Content/Img/AC_num.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />
                    </a>
                </div>

                <div>
                    <a href="#riskModal" data-toggle="modal" data-target="#riskModal">
                        <img src="~/Content/Img/AC_risk.png" class="mx-auto d-block img-fluid" style="margin-bottom: 8px" />
                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <a href="~/Home/Inventory" style="margin-left: 18px; color: black"><strong>ALERT - LOW TEST STRIP INVENTORY</strong></a>
        </div>
        <div class="row">
            <div class="col-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Clinic Name</th>
                            <th scope="col">Test Strip Inventory</th>
                            <th scope="col">Projected Run-Out Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kaduna Community Healthcare</td>
                            <td>110</td>
                            <td>06/09/2019</td>
                        </tr>
                        <tr>
                            <td>St. Mary's Community Hospital</td>
                            <td>350</td>
                            <td>06/17/2019</td>
                        </tr>
                        <tr>
                            <td>Kano Clinic</td>
                            <td>103</td>
                            <td>06/24/2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <div>
                    <a href="#ageModal" data-toggle="modal" data-target="#ageModal">
                        <img src="~/Content/Img/AC_age.png" class="mx-auto d-block img-fluid" />
                    </a>
                </div>               
            </div>
        </div>
    </div>
</div>


<div id="resultsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="~/Content/Img/AC_result.png" class="mx-auto d-block img-fluid" />
            </div>
            <div class="modal-footer">
                <p align="center" style="font-size:20px">A daily average of TSB test results across all clinics. Each dot represents the average TSB level reported for that day.</p>
            </div>
        </div>
    </div>
</div>

<div id="numberModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="~/Content/Img/AC_num.png" class="mx-auto d-block img-fluid" />
            </div>
            <div class="modal-footer">
                <p align="center" style="font-size:20px">The number of test results reported weekly for all clinics for the given time period. Each bar represents one week of results.</p>
            </div>
        </div>
    </div>
</div>

<div id="riskModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="~/Content/Img/AC_risk.png" class="mx-auto d-block img-fluid" />
            </div>
            <div class="modal-footer">
                <p align="center" style="font-size:20px">Level of risk for kernicterus and other jaundice complications based on baby’s age and TSB level reported, using <a href="http://emr.bilitool.net">http://emr.bilitool.net</a>. Shows percent of results that fall in each risk-level category.</p>
            </div>
        </div>

    </div>
</div>

<div id="ageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="~/Content/Img/AC_age.png" class="mx-auto d-block img-fluid" />
            </div>
            <div class="modal-footer">
                <p align="center" style="font-size:20px">Age of baby in hours at time of TSB test. Shows percent of recorded ages that fall in each age category.</p>
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>