
@{
    ViewBag.Title = "EDIT CLINIC";
}

<p><br></p>

<div class="container">

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="~/Home/AddEditClinic" tabindex="-1">Add New Clinic</a> <span class="sr-only">(current)</span>
            </li>
            <li class="page-item active">
                <a class="page-link" href="~/Home/EditClinic">Edit Clinic</a>
            </li>
        </ul>
    </nav>
</div>

