@{
    ViewBag.Title = "Inventory";
}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
<p><br></p>

<h3>Test Strip Inventory Report By Clinic</h3>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Clinic ID</th>
                <th scope="col">Clinic Name</th>
                <th style="width:14%">Clinic Phone</th>
                <th scope="col">Town</th>
                <th scope="col">State</th>
                <th scope="col">Contact First Name</th>
                <th scope="col">Contact Last Name</th>
                <th scope="col">Current Strip Inv</th>
                <th scope="col">Avg. Num Tests/Wk</th>
                <th scope="col">Proj. Strip Run-Out Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6</td>
                <td>Kaduna Community Healthcare</td>
                <td>809 74 987 678</td>
                <td>Kaduna</td>
                <td>Kaduna</td>
                <td>Atinuke</td>
                <td>Saaj</td>
                <td>110</td>
                <td>36</td>
                <td>6/9/2019</td>
            </tr>

            <tr>
                <td>1</td>
                <td>St. Mary's Community Hospital</td>
                <td>805 297 2747</td>
                <td>Umuowa</td>
                <td>Imo</td>
                <td>Ada-afo</td>
                <td>Oluwanifemi</td>
                <td>350</td>
                <td>84</td>
                <td>6/17/2019</td>
            </tr>

            <tr>
                <td>15</td>
                <td>Kano Clinic</td>
                <td>809 64 890 123</td>
                <td>Kano</td>
                <td>Kano</td>
                <td>Daya</td>
                <td>Ngozi</td>
                <td>103</td>
                <td>20</td>
                <td>6/24/2019</td>
            </tr>

            <tr>
                <td>17</td>
                <td>Ado-Ekiti Community Healthcare</td>
                <td>809 64 977 678</td>
                <td>Ado-Ekiti</td>
                <td>Ekiti</td>
                <td>Efetobo</td>
                <td>Laaban</td>
                <td>98</td>
                <td>19</td>
                <td>6/24/2019</td>
            </tr>

            <tr>
                <td>5</td>
                <td>Blue Sky Hospital</td>
                <td>802 440 1546</td>
                <td>Alimosho</td>
                <td>Lagos</td>
                <td>Ekwuaju</td>
                <td>Ife</td>
                <td>143</td>
                <td>25</td>
                <td>6/28/2019</td>
            </tr>

            <tr>
                <td>14</td>
                <td>Benue Family Health</td>
                <td>809 56 321 532</td>
                <td>Benue</td>
                <td>Makurdi</td>
                <td>Chukwuma</td>
                <td>Laalit</td>
                <td>234</td>
                <td>40</td>
                <td>6/28/2019</td>
            </tr>

            <tr>
                <td>8</td>
                <td>Bali Clinic</td>
                <td>812 234 5670</td>
                <td>Bali</td>
                <td>Taraba</td>
                <td>Idara</td>
                <td>Njoku</td>
                <td>120</td>
                <td>35</td>
                <td>6/29/2019</td>
            </tr>

            <tr>
                <td>7</td>
                <td>Gombe Family Clinic</td>
                <td>809 24 977 122</td>
                <td>Gombe</td>
                <td>Gombe</td>
                <td>Sarah</td>
                <td>Maaki</td>
                <td>90</td>
                <td>15</td>
                <td>6/30/2019</td>
            </tr>

            <tr>
                <td>10</td>
                <td>Wawa Clinic</td>
                <td>809 66 977 532</td>
                <td>Wawa</td>
                <td>Enugu</td>
                <td>Chinara</td>
                <td>Maali</td>
                <td>345</td>
                <td>56</td>
                <td>7/1/2019</td>
            </tr>

            <tr>
                <td>12</td>
                <td>Warri Health</td>
                <td>809 34 123 456</td>
                <td>Warri</td>
                <td>Delta</td>
                <td>Ebhaleleme</td>
                <td>Okafor</td>
                <td>76</td>
                <td>12</td>
                <td>7/2/2019</td>
            </tr>

            <tr>
                <td>9</td>
                <td>Potiskum Pediatric</td>
                <td>809 61 555 333</td>
                <td>Potiskum</td>
                <td>Yobe</td>
                <td>Josh</td>
                <td>Gabina</td>
                <td>58</td>
                <td>8</td>
                <td>7/8/2019</td>
            </tr>

            <tr>
                <td>9</td>
                <td>Sokoto Family Clinic</td>
                <td>809 43 977 532</td>
                <td>Sokoto</td>
                <td>Sokoto</td>
                <td>Daraja</td>
                <td>Eze</td>
                <td>325</td>
                <td>40</td>
                <td>7/14/2019</td>
            </tr>

            <tr>
                <td>11</td>
                <td>Enugu Healthcare</td>
                <td>809 74 432 589</td>
                <td>Enugu</td>
                <td>Enugu</td>
                <td>Rose</td>
                <td>Saajida</td>
                <td>602</td>
                <td>71</td>
                <td>7/17/2019</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Outreach Hospital</td>
                <td>802 733 8723</td>
                <td>Abule Ado</td>
                <td>Lagos</td>
                <td>Onyinyechi</td>
                <td>Toluwalogo</td>
                <td>400</td>
                <td>45</td>
                <td>7/20/2019</td>
            </tr>

            <tr>
                <td>13</td>
                <td>Zaria Community Clinic</td>
                <td>809 12 977 654</td>
                <td>Zaria</td>
                <td>Kaduna</td>
                <td>Saada</td>
                <td>Gaea</td>
                <td>200</td>
                <td>18</td>
                <td>8/4/2019</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Faith City Hospital</td>
                <td>808 225 2996</td>
                <td>Isolo</td>
                <td>Lagos</td>
                <td>Somadina</td>
                <td>Zoputa</td>
                <td>246</td>
                <td>22</td>
                <td>8/5/2019</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Mother & Child Hospital</td>
                <td>809 229 9223</td>
                <td>Ikeja</td>
                <td>Lagos</td>
                <td>Olisa</td>
                <td>Debare</td>
                <td>610</td>
                <td>51</td>
                <td>8/10/2019</td>
            </tr>

</table>
