@{
    ViewBag.Title = "Inventory";
}
<h3>Test Strip Inventory Report By Clinic</h3>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Clinic ID</th>
                <th scope="col">Clinic Name</th>
                <th style="width:14%">Clinic Phone</th>
                <th scope="col">Town</th>
                <th scope="col">State</th>
                <th scope="col">Contact First Name</th>
                <th scope="col">Contact Last Name</th>
                <th scope="col">Current Strip Inv</th>
                <th scope="col">Avg. Num Tests/Wk</th>
                <th scope="col">Proj. Strip Run-Out Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6</td>
                <td>Kaduna Community Healthcare</td>
                <td>809 74 987 678</td>
                <td>Kaduna</td>
                <td>Kaduna</td>
                <td>Atinuke</td>
                <td>Saaj</td>
                <td>110</td>
                <td>36</td>
                <td>6/9/2019</td>
            </tr>
  
            <tr>
                <td>1</td>
                <td>St. Mary's Community Hospital</td>
                <td>805 297 2747</td>
                <td>Umuowa</td>
                <td>Imo</td>
                <td>Ada-afo</td>
                <td>Oluwanifemi</td>
                <td>350</td>
                <td>84</td>
                <td>6/17/2019</td>
            </tr>

            <tr>
                <td>15</td>
                <td>Kano Clinic</td>
                <td>809 64 890 123</td>
                <td>Kano</td>
                <td>Kano</td>
                <td>Daya</td>
                <td>Ngozi</td>
                <td>103</td>
                <td>20</td>
                <td>6/24/2019</td>
            </tr>
    

    </table>
