@{
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        body {

            font-family: Verdana;
            font-size: 20px;
        }

        .container {
            position: relative;
            max-width: 42em;
            margin: 0 auto;
        }

            .container img {
                vertical-align: middle;
            }

            .container .content {
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgb(128, 128, 128, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 20px;
            }
    </style>
</head>
<body>



    <div class="container">
        <img class="img-fluid w-100" src="~/Content/img/phototherapy1.jpg">
        <div class="content">
            
            <img src="~/Content/Img/logo_nobackground.png" width="450" class="mx-auto d-block"/>
            <p class="font-weight-bold">Data and insights on neonatal jaundice to help bring about a world without Kernicterus.</p>
        </div>
    </div>

</body>
</html>

