@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron" style="background-color:transparent">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="~/Content/Img/illuminate_logo.png" class="mx-auto d-block text-center img-fluid" />
            </div>
            
        </div>
        <div class="row">
            <img src="~/Content/Img/phototherapy.jpg" class="mx-auto d-block img-fluid" />
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="carousel-caption">
                <h2>Data and insights on neonatal jaundice to help bring about a world without Kernicterus.</h2>
                
            </div>

            </div>
        </div>

