@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron" style="background-color:transparent">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="~/Content/Img/illuminate_logo.png" class="mx-auto d-block img-fluid" />
            </div>
            <div class="col-sm">
                Data and insights on neonatal jaundice to help bring about a world without Kernicterus
            </div>
        </div>

        <img src="~/Content/Img/phototherapy.jpg" class="mx-auto d-block img-fluid" />
    </div>
</div>

